.bg-custom {
    background-color: #D5DEDC;
}

.nav-link-button {
    color: white;
    background-color: black;
}

.nav-logo {
    margin-right: 5rem;
}

ul.nav {
    font-family: 'Sintony', sans-serif;
    font-size: 0.75rem;
}

.nav-link {
    color: black;
}

h1 {
    font-family: 'Sintony', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Anek Kannada', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.5rem;
}

p {
    font-size: .85rem;
    color: #343a40;
    margin-bottom: 20px;
}


.section-hero .subtitle {
    display: block;
    font-size: .85rem;
    margin-bottom: 30px;
}

.section-hero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.section-solutions {
    margin-top: 4rem;
}

.red-subtitle {
    font-size: .75rem;
}

  
  /* Tablet and desktop version: Whte background */
  @media (min-width: 768px) {
    .solution-3 {
        background-color: white !important;
        color: black !important;
    }

    .solution-4 {
        background-color: black !important;
        color: white;
    }


  }